@import "../setting.scss";
//start make comment commiunity
div.comment {
  width: 100%;
  height: 785px;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  div.opinion {
    margin-left: 5%;
    width: 45%;
    height: 585px;
    position: relative;
    

    div.comment-one,.comment-two {
      width: 442px;
      height: 222px;
      box-shadow: 0px 9px 36px 0px rgba(0, 0, 0, 0.2);
      margin-bottom: 50px;
      border-radius: 24px;
      position: absolute;
      background-color: #fff;
      top: 5%;
      left: 0;

      div.top {
        color: #fff;
        font-family: Raleway;
        font-size: 18px;
        font-weight: 700;
        width: 100%;
        height: 102px;
        border-radius: 24px;
        line-height: 30px;
        padding: 24px 32px;
        box-sizing: border-box;
        background-color: $bg-purple;
      }
      div.bottom {
        width: 100%;
        height: 120px;
        display: flex;
        justify-content: space-around;
        align-items: center;

        div {
          width: 50%;
          height: 60px;
          display: flex;
          flex-flow: column wrap;
          justify-content: center;
          align-items: center;
          span:nth-of-type(1) {
            color: #023047;
            font-family: Raleway;
            font-size: 24px;
            font-weight: 900;
            margin-bottom: 8px;
          }
          span:nth-of-type(2) {
            color: #023047;
            font-family: Raleway;
            font-size: 16px;
          }
        }
        div.image-sony {
          margin-top: -33px;
        }
      }
    }
    div.comment-two {
      margin-left: 5%;
      top: 51%;
      left: 0;
     
      div.top {
        width: 100%;
        height: 75px;
        background-color: $bg-orange;
      }
    }
    div.line {
      width: 28px;
      height: 546px;
      border-radius: 24px;
      background-color: $bg-light-black;
      position: relative;
      left: 15%;
      
    }
  }
  //end comment commiunity
  //start what our student say
  div.learn-more {
    width: 42%;
    height: 495px;
    display: flex;
    flex-flow: column wrap;
    row-gap: 15px;
    p {
      color: #023047;
      font-family: Raleway;
      font-size: 60px;
      font-weight: 900;
      line-height: 120%;
    }
    div {
      color: #023047;
      font-family: Poppins;
      font-size: 16px;
      font-weight: 500;
    }
    a {
      color: #fff;
      font-family: Poppins;
      font-size: 18px;
      font-weight: 500;
      text-decoration: none;
      text-transform: capitalize;
      width: fit-content;
      padding: 16px 32px;
      box-sizing: border-box;
      border-radius: 24px;
      background: $bg-orange;
    }
  }
}
//start what our student say
